@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

*, ::after, ::before {
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, a, ul, li, span {
    padding: 0px;
    margin: 0px;
    outline: none;
    list-style: none;
    transition: 0.5s;
}
span{
    font-size: 12px;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

a:hover, a:active, a:focus {
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

button:hover, button:active, button:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}

input:hover, input:active, input:focus {
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}

body, html {
    font-family: 'Montserrat', sans-serif;
    /* height: 100%; */
    padding: 0px;
    margin: 0px;
    position: relative;
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}


.btn{
    padding: 9px 20px;
    font-weight: bold;
    border-radius: 4px;
    transition: all 400ms ease-in-out;
}
.btn-primary{
    background:linear-gradient(136deg, #F7BC06 0%, #E9B106 36%, #7C5E03 100%) 0% 0%;
    border:none;
    color: #fff;
    font-size: 12px;
}
.btn-primary:hover{
    background: linear-gradient(84deg,#7C5E03   0%, #E9B106  56%, #F7BC06 100%) 0% 0%;
}
.btn-secondry{
    background:#272C4F;;
    border:none;
    color: #fff;
    font-size: 14px;
}
.btn-secondry:hover{
    color: #fff;
}
header{
    background: #0068FF;
}
header .logo {
    width: 203px;
    height: 55px;
}
header .logo a{
    padding: 5px 10px;
    display: block;
}
header .logo img {
    width: 100%;
}
.toggle-bar-icon {
    color: #fff;
    font-size: 22px;
}
.header-content{
    display: flex;
    align-items: center;
    padding: 10px 15px;
}
.header-content .brand-logo{
    width: 164px;
    margin-right: 15px;
}
.header-content .brand-logo img{
    width: 100%;
}
.form-group {
    margin-bottom: 1rem;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.header-search{
    flex: 1;
    margin: 0 40px 0 20px;
}

.header-search .form-group {
    position: relative;
    margin:0;
}
.header-search  .header-search-btn, .drop-menu{
    position: absolute;
    right: 5px;
    top: 3px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drop-menu{
    right: 40px;
    background: transparent;
    border: none;
    color: #000000
    ;
    top: 5px;
}

.heder-right ul, .heder-right ul li a{
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
.heder-right{
    display: flex;
    align-items: center;
}
.heder-right ul li:first-child a{
    font-size: 14px;
}
.heder-right ul{
    margin-right: 15px;
}
.heder-right ul li{
    position: relative;
    margin: 0 15px;
}
.heder-right ul li:after{
    position: absolute;
    right: -15px;
    top: 0;
    width: 1px;
    height: 100%;
    content: "";
    background: #fff;
}
.heder-right ul li a img{
    margin-right: 5px;
    width: 24px;
}
.heder-right ul li:first-child a img{
    margin:0;
}
.heder-right ul li a span{
    font-size: 10px;
}
.heder-right ul li a, .heder-right ul li a:hover{
    color: #fff;
    text-decoration: none;
}
.header-flag img{
    width: 28px;
}
.header-flag a{
    display: flex;
    align-items: center;
}
.header-search-btn .fa-search{
    transform: rotate(90deg);
}
.heder-right ul li a img.arrow-img, .header-flag img.arrow-img {
    width: 10px;
    margin-left: 5px;
}
.home-banner-card{
    height: 300px;
    overflow: hidden;
}
.home-banner-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slick-dots{
    bottom: 5px;
}
.slick-dots li button:before{
 display: none;
}
.slick-dots li{
    background: #fff;
    border-radius: 100%;
    height: 9px  !important;
    width: 9px !important;
    border:1px solid #000000
    ;
}
.slick-dots li.slick-active{
    background: #D6D6D6;
}
.slick-dots{
    bottom: 5px !important;
}
.category-section{
    background: #0068FF;
    padding: 26px 140px;
}
.category-section .category-slider-card a{
    display: flex;
    flex-flow: column;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    align-items: center;
}
.category-section .category-slider-card img{
  width: 40px;
  height: 40px;
  margin:0 auto;
}
.category-section .category-slider-card a span{
    margin-top: 10px;
}
.slick-dotted.slick-slider{
    margin-bottom:0 !important ;
}
.slick-arrow{
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    z-index: 99;
}
.arrow-right{
    right: -30px;
}
.arrow-left{
    left: -30px;
}
.special-offer-section{
    background: #FDF7E5;
}

.container, .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.w-100 {
    width: 100%!important;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}
.justify-content-between {
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.align-items-center {
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.text-center{
    text-align: center !important;
}
.common-heading h4{
    color: #7e4308;
    font-size: 18px;
    font-weight:  700;
}
.common-heading h3{
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
}
.common-heading{
    margin-bottom: 40px;
}
.card-heading h4{
    font-size: 14px;
    font-weight: 700;
    color: #000000;

}
.category-section .slick-arrow{
    top:30%;
}
.heading-border{
    position: relative;
}
.heading-border:after{
    position: absolute;
    content: "";
    width: 74%;
    background: #E1E0E0;
    height: 2px;
    top: 50%;
    transform: translate(30%, -50%);
}
.card-heading p{
    font-size: 14px;
    font-weight: 300;
    color: #000000;
}
.offer-card{
    background: #fff;
    padding: 30px 20px;
    height: 100%;
}
.recommendation-img {
    height: 200px;
    overflow: hidden;
    padding: 0 30px;
}
.recommendation-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.recommendation-slider-wrap .slick-arrow{
    color: #C4C4C4;
    font-size: 20px;
    z-index: 99;
}
.recommendation-slider-wrap .arrow-left{
    left:0;
}
.recommendation-slider-wrap .arrow-right{
    right:0;
}
.recommendation-slider-wrap{
    margin: 20px 0 5px;
}
.product-caption h4{
    font-size: 14px;
    color: #000;
    font-weight: 700;
}
.product-caption span{
    color: #0C1522;
    font-size: 10px;
}
.buy-now-btn-wrap a{
    display: inline-block;
    font-size: 10px;
    margin-top: 5px;
    padding: 6px 20px;
}
.heading-cta a{
    height: 20px;
    width: 20px;
    border:1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
}
.shop-card-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.shop-card-wrap .shop-card{
    height: 120px;
    width: 45%;
    background: #EFF7F9;
    margin: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
}
.shop-card-wrap .shop-card img{
    width: 80px;

}
.shop-card-wrap .shop-card a p{
    color: #0C1522;
    font-weight: 700;
    position: absolute;
    bottom: 10px;
    font-size: 10px;
    width: 100%;
    left: 0;
}
.shop-now-btn a {
    color: #0465D2;
    font-weight: 700;
    margin-left: 10px;
}
.shop-now-btn{
    margin-top: 10px;
}
.vendor-signup{
    background: #0068FF;
    padding: 30px 20px;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.vendor-signup a{
    display: block;
    margin:0 auto;
}
.vendor-signup h3{
    margin: 50px 0;
    color: #fff;
    max-width: 150px;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
}
.vendor-icon img{
    width: 90px;
    margin:0 auto;
}
.custom-spacer{
    padding: 40px 140px;
}
.exclusive-collection-content{
    justify-content: center;
}
.advertisement-card{
    width: 252px;
    margin-left: 20px;

}
.advertisement-card img{
    width: 100%;
}
.exclusive-product-img{
    height: 260px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 600ms ease-in-out;
}
.exclusive-product-img:before{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 28%);
    content: "";
    display: none;
}
.exclusive-product-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0 auto;
}
.overlay-btn{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    display: none;
}
.overlay-btn .btn{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    padding: 8px 15px;
    font-size: 12px;
}
.exclusive-product-img:hover:before, .exclusive-product-img:hover .overlay-btn{
    display: block;
}
.d-none {
    display: none!important;
}
.exclusive-product-card{
    margin-bottom: 40px;
    position: relative;
    top:0;
    transition:top 300ms ease-in-out;
}
.exclusive-product-card:hover{
    top:-10px;
}

.star-rating a .fa-star{
    color: #000000;
    font-size: 10px;
}
.old-price, .new-price{
    font-size: 14px;
    font-weight: 600;
    color: #9E9497;
    position: relative;
}
.old-price:after{
    position: absolute;
    width: 100%;
    height: 2px;
    background: #9E9497;
    content: "";
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.exclusive-product-details{
    flex-wrap: wrap;
}
.exclusive-product-details{
    margin: 10px 0;
}
.exclusive-product-content{
    margin-bottom: 5px;
}
.exclusive-product-name{
    font-size: 14px;
    color: #0C1522;
    font-weight: 700;
}
.yellow-color{
    color: #7e4308 !important;
}
.offer-img a{
    display: block;
    height: 100%;
}
.offer-img img{
    width: 100%;
    height: 100%;
}
.offer-img, .gift-img{
    height: 100%;
}
.gift-section .vendor-signup h3{
    font-size: 18px;
    margin: 30px 0;
}
.gift-section .vendor-icon img{
    width: 100%;
}
.gift-section.custom-spacer{
    padding-top: 0;
}
.exclusive-collection-section.custom-spacer, .best-offer-section.custom-spacer{
    padding-bottom: 0;
    padding-top: 20px;
}
.best-offer-section{
    background: #0068FF;
}
.best-offer-section .common-heading h3{
    color: #fff;
}
.special-offer-card{
    height: 200px;
    overflow: hidden;
}
.special-offer-card img{
    height: 100%;
    width: 100%;
}
.guarantee-card img{
    width: 70px;
    margin-bottom: 20px;
}
.guarantee-card h4{
    font-size: 18px;
    font-weight: 700;
}
.guarantee-card p{
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500;
}
.guarantee-section.custom-spacer{
    padding-top: 60px;
    padding-bottom: 60px;
}
footer{
    background: #0068FF;
    padding-top: 40px;
}
.newsletter-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newsletter-right{
    flex: 1;
    margin-left: 180px;
}
.newsletter-right .form-group{
    margin:0;
    position: relative;
}
.newsletter-right .form-group input{
    height: 45px;
    border-radius: 10px;
}
.newsletter-right .btn{
    position: absolute;
    right: 0;
    top:0;
    height: 45px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    cursor: pointer;
}
footer h4{
    color: #7e4308;
    font-size: 16px;
}
footer p{
    color: #fff;
    font-size: 14px;
}
.alphabetically-wrap, .find-out-section > div {
    display: flex;
    align-items: center;
}
.find-out-section{
    margin: 40px 0;
}
.find-out-section a{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    padding: 0 10px;
}
.find-out-category span{
    color: #fff;
}
.find-out-category{
    margin-top: 10px;
}
.alphabetically-wrap a:last-child{
    padding-right: 0;
}
.quick-link-section ul li a{
    color: #fff;
    font-weight: 600;
}
.quick-link-section ul li{
    margin:10px 0
}
.footer-payment-section{
    background: #005ADD;
    padding: 20px;
    border-radius: 11px;
    margin-top: 30px;
}
footer .payment-mode a{
    padding: 10px 2px;
    display: block;
}
footer .payment-mode a img{
    width: 60px;
}
.payment-mode{
    margin-top: 10px;
}
.footer-payent-section p{
    font-weight: 700;
    line-height: 28px;
    margin-top: 20px;
    font-size: 14px;
}
.footer-customer-section{
    margin-top: 20px;
}
.footer-customer-section a, .address-text{
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    margin: 12px 0;
}
.address-text a{
    display: block;
}
.footer-customer-section i{
    color: #7e4308;
    margin-right: 8px;
}
.footer-customer-section h4{
    margin-bottom: 20px;
}
.socail-media a {
    background: #fff;
    padding: 3px;
    margin: 10px;
    display: flex;
    align-items: center;
}
.socail-media a img{
    width: 20px;
}
.copyright-section{
    font-size: 14px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 0;
}
.copyright-section a{
    color: #fff;
    text-transform: lowercase;
}
footer .custom-spacer{
    padding-bottom: 0;
}
.custom-tabs-wrap ul {
    display: flex;
}
.custom-tabs-wrap ul li{
    width: 25%;
}
.custom-tabs-wrap{
    background: #fff;
    padding: 20px 10px;
}

.custom-tabs-wrap a h4{
    font-size: 16px;
    color: #0C1522;
    font-weight: 700;
}
.custom-tabs-wrap a{
    position: relative;
    margin-right: 5px;
    justify-content: center;
}
.custom-tabs-wrap a:after{
    position: absolute;
    bottom:-20px;
    left: 0;
    content: "";
    background: #E9E9E9;
    border-radius: 4px;
    height: 6px;
    width: 100%;
}
.custom-tabs-wrap a.active:after, .custom-tabs-wrap a:hover:after{
    background: transparent linear-gradient(91deg, #F7BC06 0%, #E9B106 36%, #7C5E03 100%) 0% 0%;
}
.custom-tabs-wrap a p{
    color: #0C1522;
    font-size: 12px;
    font-weight: 400;
}
.custom-tabs-content{
    background: #fff;
}
.custom-tabs-wrap a img{
    width: 70px;
    margin-right: 20px;
}
.custom-tabs-content ul{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 40px;
}
.custom-tabs-content ul li{
    width: 20%;
    padding: 10px;
}
.custom-tabs-content ul li .exclusive-product-card{
    top: 0px;
}
.custom-tabs-content ul li .exclusive-product-card .yellow-color{
    color: #FF6539 !important;
}
.custom-tabs-content ul li .exclusive-product-img{
    height: 230px;
}
.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.pl-1, .px-1 {
    padding-left: .25rem!important;
}
.pr-1, .px-1 {
    padding-right: .25rem!important;
}
.pl-0{
    padding-left: 0  !important;
}
.pr-0{
    padding-left: 0  !important;
}
.btn-secondary{
    background: #BCBCBC;
    color: #fff;
    font-size: 10px;
    padding: 9px 20px;
}
.col-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.category-section  .slick-dots {
    display: none  !important;
}
/* GRID MEDIA START FROM HERE */

@media (min-width: 576px){
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 720px;
    }
    .d-md-block {
        display: block!important;
    }
    .justify-content-md-between {
        -webkit-box-pack: justify!important;
        -ms-flex-pack: justify!important;
        justify-content: space-between!important;
    }
    .col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    .col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    .col-md-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .d-md-block {
        display: block!important;
    }
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 960px;
    }
    .d-lg-block {
        display: block!important;
    }
    .d-lg-none {
        display: none!important;
    }
    .col-lg-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

}
@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
    .d-xl-block {
        display: block!important;
    }
    .col-xl-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}
/* GRID MEDIA END HERE */

/* RESPONSIVE MEDIA START FROM HERE */
@media (max-width: 1199px){
    .custom-spacer {
        padding: 40px 15px;
    }
    .category-section {

        padding: 26px 80px;
    }
    .shop-card-wrap .shop-card{
        height: 210px;
    }
    .special-offer-card{
        height: 160px;
    }
    .advertisement-card {
        display: none;
    }
    .recommendation-div{
        padding-right: 15px !important;
    }
    .vendor-div{
        padding-left: 15px !important;
    }
    .clothing-div, .recommendation-div {
        margin-bottom: 20px;
    }
    .recommendation-img{
        height: 100px;
    }

}
@media (max-width: 991px){
    .header-search{
        background: #0068FF;
        margin: 0;
        padding: 10px 15px;
    }
    .header-content .brand-logo{
        margin-left: 10px;
    }
    .header-search .form-control{
        height: 30px;
        font-size: 12px;
    }
    .clothing-div, .recommendation-div{
        margin-bottom: 0;
    }
    .shop-card-wrap .shop-card{
        height: 120px;
    }
    .header-search .header-search-btn{
        padding: 5px 14px;
        width: 20px;
        top: 2px;
    }
    .footer-bootm-section{
        display: flex;
    }
    .quick-link-section, .footer-payment-section{
        width: 50%;
    }
    .header-search-btn .fa-search{
        font-size: 12px;
    }
    .custom-spacer{
        padding: 20px 0px;
    }
    .clothing-div{
        -webkit-order: 1;
        order: 1;
        margin-bottom: 15px;
    }
    .recommendation-div, .vendor-div{
        -webkit-order: 3;
        order: 3;
    }
    .super-deals-div{
        -webkit-order: 2;
        order: 2;
        margin-bottom: 15px;
    }
    .offer-card, .vendor-signup{
        padding: 20px 5px;
    }
    .super-deals-div .offer-card, .clothing-div .offer-card{
        padding: 40px 10px 50px;

    }
    .card-heading{
        padding: 0 15px;
    }
    .heading-border:after{
        width: 100%;
    }
    .advertisement-card{
        display: none;
    }
    .exclusive-collection-section  .common-heading{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }
    .common-heading h4{
        font-size: 10px;
        text-align: left;
    }
    .common-heading h3{
        font-size: 14px;
        margin-top: 5px;
    }
    .gift-section .row{
        flex-flow: column-reverse;
    }
    .gift-section .vendor-signup{
        flex-flow: row;
        justify-content: space-between;
        padding: 20px 55px;
    }

    .gift-section .vendor-icon img {
        width: 110px;
    }

    .gift-section .vendor-signup a{
        margin:0;
    }
    .gift-section .vendor-signup h3{
        max-width: 100%;
        font-size: 14px;
        margin: 0px 0;
    }

    .gift-section .vendor-signup a.btn{
        line-height: 12px;
        font-size: 8px;
        padding: 5px 16px;
    }
    .custom-tabs-wrap {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .custom-tabs-wrap ul li{
        width: 100%;
    }
    .tab-text{
        min-width: 200px;
    }
    .custom-tabs-content ul li{
        width: 50%;
    }
    .custom-tabs-content ul{
        padding:  0;
    }
    .custom-tabs-content ul li .exclusive-product-img {
        height: 180px;
    }
    .exclusive-product-card{
        margin-bottom: 20px;
    }
    .view-all-btn-wrap{
        padding: 30px 0;
    }
    .view-all-btn-wrap a{
        display: inline-block;
        padding: 9px 40px;
    }
    .guarantee-section.custom-spacer{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .newsletter-section{
        flex-flow: wrap;
        justify-content: center;

    }
    .newsletter-right{
        margin:20px  0 0 20px ;
        flex:auto;
    }

    .newsletter-right .form-group input {
        height: 30px;
        border-radius: 5px;
    }
    .newsletter-right .btn{
        height: 30px;
        font-size: 10px;
    }
    footer p{
        font-size: 12px;
    }
    footer h4{
        font-size: 14px;
    }

    .category-section{
        padding: 20px 40px;
    }
    .header-content{
        justify-content: space-between;
    }
    .logo-wrap{
        flex-flow: row-reverse;
    }
    .header-search .header-search-btn {
        padding: 5px 14px;
        width: 20px;
        top: 4px;
    }
    .exclusive-collection-content{
        justify-content: center;
    }
    .custom-tabs-content{
        padding: 20px 100px;
    }
    .guarantee-card img {
        width: 40px;
    }
    .guarantee-card h4 {
        font-size: 14px;
    }
    .alphabetically-content{
        margin-left: 20px;
    }
    .footer-payment-section{
        margin-top: 0;
    }


}
@media (max-width: 767px){
    .exclusive-product-name{
        font-size: 12px;
    }
    .footer-customer-section a, .address-text{
        font-size: 10px;
        line-height: 14px;
    }
    .socail-media a{
        margin: 10px 5px;
    }
    .socail-media a img {
        width: 15px;
    }
    footer .payment-mode a{
        padding: 3px 2px;
    }


    .footer-payment-section .footer-logo img{
        width: 100px;
    }
    footer .payment-mode a img {
        width: 30px;
    }
    footer p{
        font-size: 10px;
        line-height: 17px;
    }
    .quick-link-section ul li a{
        font-size: 12px;
    }
    .quick-link-section ul li{
        margin: 5px 0;
    }

    .alphabetically-content{
        margin-left: 0px;
    }
    .newsletter-section{
        text-align: center;
    }

    .custom-tabs-content{
        padding: 0;
    }
    .overlay-btn .btn{
        padding: 8px 10px;
        font-size: 8px;
    }
    .newsletter-right{
        margin:20px  0 0 0 ;
    }

    .gift-section .vendor-signup{
        padding: 20px 15px;
    }
    .gift-section .vendor-icon img{
        width: 60px;
    }
    .gift-section .vendor-signup h3{
        font-size: 10px;
        width: auto;
    }
    .recommendation-div{
        padding-right: .25rem!important;
    }
    .vendor-div{
        padding-left: .25rem!important;
    }
    .header-search .header-search-btn {
        width: 20px;
        top: 2px;
    }
    .copyright-section{
        font-size: 10px;
    }
    .find-out-section a{
        font-size: 10px;
        padding: 0 2px;
    }
    .alphabetically-wrap{
        width: 70%;
    }
     .find-out-category span{
        width: 30%;
    }
    .special-offer-card{
        height: 80px;
    }
    .exclusive-collection-section .exclusive-product-card{
        margin-bottom: 20px;
    }
    .recommendation-div .card-heading p{
        font-size: 9px;
    }
    .exclusive-collection-section .exclusive-product-img{
        height: 180px;
    }

    .old-price, .new-price, .recommendation-div .card-heading h4{
        font-size: 10px;
    }
    .star-rating a .fa-star{
        font-size: 8px;
    }
    .category-section{
        padding: 10px;
    }
    .recommendation-slider-wrap .slick-arrow{
        font-size: 16px;
    }

    .header-content .brand-logo{
        width: 90px;
        margin-right: 0;
        margin-left: 10px;
    }
    .header-content .brand-logo img{
        margin-right: 0;
    }
    .toggle-bar-icon{
        font-size: 16px;
    }
    .heder-right ul li:after{
        display: none;
    }
    .heder-right ul li a img{
        width: 20px;
    }
    .heder-right ul li{
        margin: 0 5px;
    }
    .header-flag img{
        width: 18px;
    }
    .heder-right ul{
        margin-right: 5px;
    }
    .heder-right{
        justify-content: flex-end;
        width: 100%;
    }
    .category-section .category-slider-card img{
        width: 20px;
        height: 20px;
    }
    .category-section .category-slider-card a span{
        font-size: 10px;
    }
    .arrow-right{
        right: 0;
    }
    .arrow-left{
        left: 0;
    }
    .category-section .slick-arrow{
        top:10%;
        font-size: 12px;
    }
    .home-banner-card{
        height: 400px;
    }
    .vendor-icon img{
        width: 50px;
    }
    .vendor-signup h3{
        font-size: 14px;
        line-height: 20px;
        width: 100px;
        max-width: 100%;
        margin:20px 0;
    }
    .card-heading h4{
        font-size: 12px;
    }
    .card-heading p{
        font-size: 10px;
    }
    .product-caption h4{
        font-size: 12px;
    }
    .buy-now-btn-wrap a, .vendor-signup a{
        line-height: 14px;
        font-size: 10px;
    }
    .guarantee-card img {
        width: 30px;
        margin-bottom: 10px;
    }
    .guarantee-card h4, .guarantee-card p, .shop-now-btn a{
        font-size: 10px;
    }



}
